@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

@keyframes rotateYBack {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

:root {
    --c1: #313628;
    --c2: #678D58;
    --c3: #A6C48A;
    --cs: #20231A;
    --c1h: #313628;
    --c2h: #5C7D4F;
    --c3h: #8daf6e;
    --csh: #20231A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    background-color: #F6E7CB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--cs);
}

#gameArea,
#intro {
    height: 100%;
    min-width: 80vw;
    min-height: 80vh;
    background: #DD9787;
    border-radius: 10pt;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    gap: 1em;
    padding: 1em;
}

#intro {
    height: 80vh;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h1 {
    font-weight: bolder;
    font-family: 'Merriweather', serif;
}

#intro #nbCardsSelector {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

#nbCardsSelector label {
    display: flex;
    gap: .4em;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nbCardsSelector input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-input {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nbCardsSelector label:hover input:not(:checked)~.radio-input {
    background-color: #EDC8BF;
}

#nbCardsSelector input:checked~.radio-input {
    background-color: #8F3B28;
}

.radio-input:after {
    content: "";
    display: none;
}

#nbCardsSelector input:checked~.radio-input:after {
    display: block;
}

#nbCardsSelector label .radio-input:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

#nCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#nCards #start {
    outline: none;
    border: none;
    background-color: #8F3B28;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: .5em 1em;
    border-radius: 10pt;
    cursor: pointer;

}

.card {
    font-size: 75pt;
    border-radius: 2pt;
    border: 3pt solid white;
    white-space: nowrap;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 100px;
    min-width: 100px;
    --u: 1vmax;
    --hue: hue-rotate(0deg);
    --gp: 50% / calc(var(--u) * 12) calc(var(--u) * 12.8);
    filter: var(--hue);
    background: repeating-conic-gradient(from 61.93deg at 75% 36.5%,
            var(--c1) 0%,
            var(--c1) 2%,
            var(--cs) 16%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 75% 87.5%,
            var(--c3) 0% 34.5%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 50% 75%,
            #fff0 2%,
            var(--cs) 17.15%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 61.93deg at 50% 50%,
            var(--c3) 0% 15.59%,
            var(--c2) 0% 32.79%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -118.07deg at 25% 12.5%,
            var(--c2) 0% 32.79%,
            var(--c1) 0% 50%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 87.5%,
            #fff0 0 67.25%,
            var(--c2) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 50% 75%,
            #fff0 0% 66.5%,
            var(--c1) 0% 84.25%,
            var(--c3) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 37.5%,
            var(--c3) 0% 34.5%,
            var(--c1) 0% 67.25%,
            var(--c2) 0% 100%) var(--gp);
}

.shuffle {
    transition: all 0.4s ease-in-out;
}

.card svg {
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    transform: rotateY(180deg);
    
}

.card.flip svg {
    animation: rotateYBack .5s ease-in;
    transform: rotateY(0deg);
    opacity: 1;
}

.card.flip,
.card.flip:hover {
    animation: rotateY .3s;
    background: #F9EFDC;
}

.card.flipBack {
    animation: rotateYBack .3s;
    --u: 1vmax;
    --hue: hue-rotate(0deg);
    --gp: 50% / calc(var(--u) * 12) calc(var(--u) * 12.8);
    filter: var(--hue);
    background: repeating-conic-gradient(from 61.93deg at 75% 36.5%,
            var(--c1) 0%,
            var(--c1) 2%,
            var(--cs) 16%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 75% 87.5%,
            var(--c3) 0% 34.5%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 50% 75%,
            #fff0 2%,
            var(--cs) 17.15%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 61.93deg at 50% 50%,
            var(--c3) 0% 15.59%,
            var(--c2) 0% 32.79%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -118.07deg at 25% 12.5%,
            var(--c2) 0% 32.79%,
            var(--c1) 0% 50%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 87.5%,
            #fff0 0 67.25%,
            var(--c2) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 50% 75%,
            #fff0 0% 66.5%,
            var(--c1) 0% 84.25%,
            var(--c3) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 37.5%,
            var(--c3) 0% 34.5%,
            var(--c1) 0% 67.25%,
            var(--c2) 0% 100%) var(--gp);
}

.card:hover {
    background: repeating-conic-gradient(from 61.93deg at 75% 36.5%,
            var(--c1h) 0%,
            var(--c1h) 2%,
            var(--csh) 16%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 75% 87.5%,
            var(--c3h) 0% 34.5%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 118.07deg at 50% 75%,
            #fff0 2%,
            var(--csh) 17.15%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from 61.93deg at 50% 50%,
            var(--c3h) 0% 15.59%,
            var(--c2h) 0% 32.79%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -118.07deg at 25% 12.5%,
            var(--c2h) 0% 32.79%,
            var(--c1h) 0% 50%,
            #fff0 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 87.5%,
            #fff0 0 67.25%,
            var(--c2h) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 50% 75%,
            #fff0 0% 66.5%,
            var(--c1h) 0% 84.25%,
            var(--c3h) 0% 100%) var(--gp),
        repeating-conic-gradient(from -61.93deg at 25% 37.5%,
            var(--c3h) 0% 34.5%,
            var(--c1h) 0% 67.25%,
            var(--c2h) 0% 100%) var(--gp);
}

@media screen and (max-width: 450px) {

    #gameArea,
    #intro {
        width: 95vw;
    }
}